html {
  font-size: 10px;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color:#ffb2ff;
  display:flex;
  min-height: 100vh;
  align-items: center;

  background-image:
  radial-gradient(circle at 100% 150%, #ff94c2 24%, #fff176 25%, #fff176 28%, #ffb2ff 29%, #ffb2ff 36%, #b0ff57 36%, #b0ff57 40%, transparent 40%, transparent),
  radial-gradient(circle at 0    150%, #ff94c2 24%, #fff176 25%, #fff176 28%, #ffb2ff 29%, #ffb2ff 36%, #b0ff57 36%, #b0ff57 40%, transparent 40%, transparent),
  radial-gradient(circle at 50%  100%, #b0ff57 10%, #ffb2ff 11%, #ffb2ff 23%, #fff176 24%, #fff176 30%, #ff94c2 31%, #ff94c2 43%, #ffcc80 44%, #ffcc80 50%, #ffb2ff 51%, #ffb2ff 63%, #fff176 64%, #fff176 71%, transparent 71%, transparent),
  radial-gradient(circle at 100% 50%, #fff176 5%, #8bf6ff 6%, #8bf6ff 15%, #ffcc80 16%, #ffcc80 20%, #ff94c2 21%, #ff94c2 30%, #fff176 31%, #fff176 35%, #ffb2ff 36%, #ff94c2 45%, #fff176 46%, #fff176 49%, transparent 50%, transparent),
  radial-gradient(circle at 0    50%, #fff176 5%, #8bf6ff 6%, #8bf6ff 15%, #ffcc80 16%, #ffcc80 20%, #ff94c2 21%, #ff94c2 30%, #fff176 31%, #fff176 35%, #ffb2ff 36%, #ffb2ff 45%, #fff176 46%, #fff176 49%, transparent 50%, transparent);
  background-size:100px 50px;
}


.voiceinator {
  padding:2rem;
  width:50rem;
  margin:0 auto;
  border-radius:1rem;
  position: relative;
  background:white;
  overflow: hidden;
  z-index: 1;
  box-shadow:0 0 5px 5px rgba(0,0,0,0.1);
}

h1 {
  width:calc(100% + 4rem);
  margin: -2rem 0 2rem -2rem;
  padding:.5rem;
  background: #8bf6ff;
  border-bottom: 5px solid #29b6f6;
  text-align: center;
  font-size: 5rem;
  font-weight: 100;
  font-family: 'Pacifico', cursive;
  text-shadow:3px 3px 0 #29b6f6;

}

.voiceinator input,
.voiceinator button,
.voiceinator select,
.voiceinator textarea {
  width: 100%;
  display: block;
  margin:10px 0;
  padding:10px;
  border:0;
  font-size: 2rem;
  background:#F7F7F7;
  outline:0;
}

textarea {
  height: 20rem;
}

input[type="select"] {

}

.voiceinator button {
  background:#fff176;
  border:0;
  width: 49%;
  float:left;
  font-family: 'Pacifico', cursive;
  margin-bottom: 0;
  font-size: 2rem;
  border-bottom: 5px solid #fff176;
  cursor:pointer;
  position: relative;
}

.voiceinator button:active {
  top:2px;
}

.voiceinator button:nth-of-type(1) {
  margin-right: 2%;
}
